@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    height: 75px;
}

.nav-wrapper {
    margin: 10px 40px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg,#000,50%,#191919);
    background-image: url(img/wall.jpg);
    object-fit: cover;
    background-size: 100% auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
}

header div {
    width: fit-content;
}

.header-text {
    color: white;
    transition: 1s;
    z-index: 2;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(135deg, #fff, #ddd);
}

.info {
    margin: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}

.infotext {
    display: flex;
    flex-direction: column;
}

.info-cube {
    height: 250px;
    width: 250px;
    perspective: 600px;
    perspective-origin: 0%, 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infofotos {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    animation: rotate 8s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }
    12.5% {
    }
    25% {
        transform: rotateX(90deg);
    }
    37.5% {
    }
    50% {
        transform: rotateX(180deg);
    }
    67.5% {
    }
    75% {
        transform: rotateX(270deg);
    }
    87.5% {
    }
    100% {
        transform: rotateX(360deg);
    }
  }

.infofotos .img {
    height: 200px;
    width: 200px;
    position: absolute;
}

.infofotos .img-1 {
    transform: translateZ(100px);
}

.infofotos .img-2 {
    transform: translateZ(-100px) scale(1, -1);
}

.infofotos .img-3 {
    transform: translateY(100px) rotateX(90deg) scale(1, -1); 
}

.infofotos .img-4 {
    transform: translateY(-100px) rotateX(90deg); 
}

.cards-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.card {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 10px 10px 5px;
    min-height: 300px;
    height: 300px;
    min-width: 200px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 10px 10px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition: 0.2s;
}

.line {
    margin-left: 20px;
    margin-right: 20px;
    width: 1px;
    background-color: black;
    height: 200px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    height: 100px;
    width: 100px;
}

.card-img img {
    height: 100px;
    width: 100px;
}

footer {
    height: 1000px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-top: 2px solid black;
    color: white;
}

@media screen and (max-width: 1020px) {
    header {
        background-size: auto 100%;
    }
}

@media screen and (max-width: 900px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .infotext {
        margin-bottom: 50px;
    }
}